<h2>Youtube video block</h2>
<iframe id="ytplayer" type="text/html" width="640" height="360"
        src="https://www.youtube.com/embed/{{ video_id }}"
        frameborder="0"></iframe>

<h1>
    Random number from <em>getTemplateParameters</em> of <em>youtube_video</em>: {{ random }}
</h1>


{#{{ dump() }}#}